@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@font-face {
  font-family: 'Modern Prestige';
  src: url('fonts/Modern-Prestige-DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary-color: #57B4BA;
  --secondary-color: #015551;
  --backgroud-color: #FDFBEE;
  --accent-color: #ff4081;
  --text-color: #333;
  --border-radius: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr; 
  font-family: 'Roboto', sans-serif;

  

  margin: 0;
  padding: 0;
  background-color: var(--backgroud-color);



}

header > h1 {
  font-family: 'Modern Prestige', sans-serif;
}
header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 76px;
  padding-left: 76px;


  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;

}

a {
  color: var(--accent-color);
  text-decoration: none;
}

sidebar {
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--backgroud-color);
  padding: 20px;
  overflow: hidden;  
  flex-direction: column;
}
#projects-container {
  display: flex;
  flex-direction: column;

    flex: 1;       
  overflow-y: auto; 
}

.project-card {
  border: solid 5px var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.todo-card {
  display: inline-block;
  border: solid 5px var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
main {
  grid-area: 2 / 2 / 2 / 2;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#todo-container {
  display: flex;
  flex-direction: row;

    flex: 1;       
  overflow: auto; 
  gap: 10px;
  padding: 10px;
}


dialog {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}